.nav {
    display: flex;
    background-color: var(--white-color);
    margin: 15% 15%;
}

.header {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: var(--btn-color);
font-size: 2em;
margin: 0;
align-items: left;
}

gap: 10%;
