.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white-color);
    margin: 15% 15%;
    padding: 4%;
    gap: 2em;
}

.header {
display: ;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: var(--btn-color);
font-size: 2em;
margin: 0;
align-items: left;
padding-bottom: 20px;
}



.nav .row1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: center;
    background-color: var(--row1-color);
    color: var(--btn-color);
    padding: 10px;
    gap: 10%;
    border-radius: 15px;
    border: none;
    }

.nav .row2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: center;
    background-color: var(--row2-color);
    color: var(--btn-color);
    padding: 10px;
    gap: 10%;
    border-radius: 15px;
    border: none;
}
.nav .row3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: center;
    background-color: var(--row3-color);
    color: var(--btn-color);
    padding: 10px;
    gap: 10%;
    border-radius: 15px;
    border: none;
}

.nav .row4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: center;
    background-color: var(--row4-color);
    color: var(--btn-color);
    padding: 10px;
    gap: 10%;
    border-radius: 15px;
    border: none;
}

.footer
{
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
    color: var(--footer-txt-color);

}

.btn
{
    font-weight: bold;
    border-radius: 15px;
    justify-content: center;


}
